body{
    background-color: #131520;
    color: white;
}
.right-arrow{
    position: absolute;
    top: 132px;
    left: -459px;
    height: 146px;
}
.left-arrow{
    position: absolute;
    top: 155px;
    left: 456px;
    height: 99px;
}
.hero-container{
    margin: 20px 0 120px 0;
    background-color: #1e2033;
    border: 4px solid white;
    border-radius: 15px;
}
.hero-scene {
    width: 800px;
    height: 400px;
    position: relative;
    perspective: 1000px;
}
.header-height{
    margin: 20px;
    height: 90px;
}
.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel-cell {
    position: absolute;
    width: 160px;
    max-height: 200px;
    left: 320px;
    top: 77px;
}
#right:hover{
    cursor: pointer;
}
#left:hover{
    cursor: pointer;
}
.carousel-cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel-cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel-cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel-cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel-cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel-cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel-cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel-cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel-cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }
.img-wrapper{
    position: absolute;
    border: 4px solid white

}
.genre-row{
    height: 100px;
}
.movie-genre{
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 180px;
    min-width:180px;
    max-height: 100px;
    border: 3px solid grey;
    border-radius: 15px;
    background-color: #2D2E3A;
}
.action:hover{
    background-image: url("../images/blackpanther-moviesapp.gif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    cursor: pointer;
}
.comedy:hover{
    background-image: url("../images/a-bugs-life.gif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    cursor: pointer;
}
.thriller:hover{
    background-image: url("../images/kingsman.gif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    cursor: pointer;
}
.drama:hover{
    background-image: url("../images/hidden-figures.gif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    cursor: pointer;
}
.sci-fi:hover{
    background-image: url("../images/interstellar.gif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    cursor: pointer;
}
.catalog-title{
    border-bottom: 1px solid white;
}
.catalog-row-height{
    height: 65px;
    margin: 130px;
}
.content{
    display: none;
    flex-wrap: wrap;
}
.movie-card {
    max-width: 200px;
    /*border: 1px solid #000;*/
    /*border-radius: 3px;*/
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.catalog-img-wrapper img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.card-bottom {
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 10px 10px;
}